.initially-hidden{
  display: none;
}

.clickable {
  color: darkblue;
  cursor: pointer;
}

.clickable:hover{
  text-decoration: underline;
}

.col-md-4 {
    border: 2px solid black;
    background-color: lightgray;
    height:20vh;
    padding-top: 5vh;
    text-align: center;
}
